@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .navbar-list {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 85px;
    right: 0;
    padding-bottom: 15px;
    background-color: #333;
    width: 100%;
    gap: 10px;
  }

  .navbar-list.active {
    display: flex;
  }

  .navbar-logo h3 {
    display: none;
  }

  .navbar {
    background-color: white;
  }
  .close-button {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  .close-button i {
    font-size: 24px;
    color: #fff;
  }
  .productos-container {
    width: 100%;
    height: 675px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .producto {
    width: 150px;
    height: 290px;
  }
  .producto h2 {
    font-size: 16px;
  }
}
@media (max-width: 445px) {
  .product-title .separador {
    width: 30vw;
  }
  .hero-container {
    flex-direction: column;
  }
  .hero-container .separador {
    display: none;
  }
  .about__banner img {
    width: 100%;
    height: 170px;
  }
  .cards-container {
    height: 1400px;
  }
  .cards-container #boton-anterior {
    border: 2px solid black;
    height: 1400px;
    top: 0;
  }
  #boton-siguiente {
    border: 2px solid black;
    height: 1400px;
    top: 0;
  }
  .contact__form {
    padding-bottom: 20px;
  }
  .contact__form input,
  .contact__form textarea,
  .contact__form select {
    width: 70%;
  }
}
