@media (max-width: 1134px) {
  .productos-container {
    width: 700px;
  }
  .cards-container #boton-anterior,
  .cards-container #boton-siguiente {
    top: 400px;
  }
}
@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .navbar-list {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 85px;
    right: 0;
    padding-bottom: 15px;
    background-color: #333;
    width: 100%;
    gap: 10px;
  }
  .navbar-list.active {
    display: flex;
  }

  .navbar-logo h3 {
    display: none;
  }

  .navbar {
    background-color: white;
  }
  .close-button {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  .close-button i {
    font-size: 24px;
    color: #fff;
  }
  .productos-container {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .producto h2 {
    font-size: 16px;
  }
  #contact {
    width: 100%;
  }
  .formulario__grupos {
    width: 80%;
  }
  .hero-container p {
    font-size: 16px;
  }
  .about-img {
    display: none;
  }
  .about-media {
    display: block;
  }
  .descuento {
    display: none;
  }
  .cards-container #boton-anterior,
  .cards-container #boton-siguiente {
    display: none;
  }
  #contact {
    display: none;
  }
  .ver-mas {
    display: flex;
    position: relative;
    height: 35px;
    width: 80px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--violet);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  .cards-container {
    flex-direction: column;
    width: 700px;
    align-items: center;
  }
}
@media (max-width: 445px) {
  .hero-info h1 {
    font-size: 32px;
  }
  .product-title .separador {
    width: 30vw;
  }
  .hero-container {
    flex-direction: column;
  }
  .hero-container .separador {
    display: none;
  }
  .cards-container {
    max-height: 7000px;
  }
  .cards-container #boton-anterior {
    border: 2px solid black;
    height: 1400px;
    top: 0;
  }
  #boton-siguiente {
    border: 2px solid black;
    height: 1400px;
    top: 0;
  }
}
